<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.3.0" targetFramework="net452" />
  <package id="Accord.Video" version="3.3.0" targetFramework="net452" />
  <package id="Accord.Video.DirectShow" version="3.3.0" targetFramework="net452" />
  <package id="Accord.Video.FFMPEG" version="3.3.0" targetFramework="net452" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
</packages>