<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Video.DirectShow" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Video.FFMPEG" version="3.8.0" targetFramework="net452" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net452" />
</packages>